In [1]:
import pandas as pd
import csv

1인분 테마 끄기

In [19]:
data1 = pd.read_csv('ilinboon_to_off_181127.csv',encoding='cp949') #encoding??

In [20]:
data1.head()

   shop_no     shop_nm contract_type  min_ord_price cd_nm
0   581400  설빙 석촌호수서호점         R0002          12000   1인분
1   654048   썬더볼드 강남역점         R0002          15000   1인분
2   681343         칠랑고         R0002          15000   1인분
3   704947    반포식스 독산점         R0002          12000   1인분
4   704950    반포식스 구로점         R0002          12000   1인분

In [ ]:
driver_path = 'chromedriver.exe'
driver =webdriver.Chrome(driver_path)

In [27]:
shop_no_lst_off = list(data1.shop_no)

In [29]:
excepted_shop_no = [] # 예외처리된 shop_no

for shop_no in shop_no_lst_off:
    url = "https://super.smartbaedal.com/admin/shop/shopinfo.asp?shop={}".format(shop_no)
    
    try:
        driver.get(url)

        driver.find_element_by_css_selector("#basic_mod_btn").click() # 수정버튼
        driver.implicitly_wait(1)
        driver.find_element_by_css_selector("#basic_form_div > table > tbody > tr:nth-child(5) > td > span > span > a").click() # 테마관리버튼
        driver.implicitly_wait(1)
        
        ########### 주의필요
        driver.find_element_by_css_selector("#theme_seq_1").click() # 1인분 테마 클릭( id없으므로 seq 순서 맞는지 확인필요)
        ###########
        
        # 수정하고 저장
        driver.find_element_by_css_selector("body > div:nth-child(12) > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div > button:nth-child(1) > span").click()
        driver.find_element_by_css_selector('#frm > div.content_button > span.wbtn.blue.large.icon.strong > input[type="button"]').click()
        
        # 확인위한 alert 2회
        driver.switch_to.alert.accept()
        driver.switch_to.alert.accept()
        
        print(shop_no,' ok')
        
        # NoAlertPresentException 발생시(정상적으로 저장안됨) 처리하게 코드짜면 됨
#     except NoAlertPresentException as e1:
#         print("\n\n NoAlertPresentException")
#         print(shop_no, e1)
#         excepted_shop_no.append(shop_no)
#         input("Enter if you checked out")
#         continue
        
    except Exception as e:
        print("\n\n Exception")
        print(shop_no, e)
        excepted_shop_no.append(shop_no)
        input("Enter if you checked out")
        continue

681343  ok
704947  ok
704950  ok
712755  ok
723913  ok
736081  ok
745959  ok
748097  ok
759880  ok
777107  ok
779970  ok
787430  ok
790141  ok
795690  ok
806431  ok
808314  ok
808867  ok
810517  ok
811776  ok
816555  ok
819471  ok
819508  ok
822118  ok
823176  ok
823882  ok
824775  ok
825176  ok
825896  ok
827098  ok
829442  ok
829908  ok
830266  ok
830336  ok
830723  ok
830738  ok
831892  ok
833374  ok
834169  ok
841165  ok
845616  ok
846032  ok
846176  ok

In [30]:
excepted_shop_no

[]

1인분테마 켜기

In [68]:
# csv로 저장된 제플린 데이터 받아오기
# 최소주문금액 1만원 이하 업소의 계약,  테마코드 데이터 
data = pd.read_csv('mod_oneP_181127.csv',encoding='utf-8') #encoding??

In [69]:
data.head(10)

   shop_no           shop_nm contract_type  min_ord_price   cd_nm
0   522695  죽이야기&비빔밥 발산미즈메디점         R0002          10000     1인분
1   522695  죽이야기&비빔밥 발산미즈메디점         R0002          10000      한식
2   563770               순품떡         R0002           8000      분식
3   563770               순품떡         R0002           8000     1인분
4   565209         공차 경찰병원역점         R0002          10000     1인분
5   565209         공차 경찰병원역점         R0002          10000  커피·디저트
6   567009              시래마루         R0002          10000      한식
7   567009              시래마루         R0002          10000     1인분
8   571725           바디쉐프 본점         R0002          10000  커피·디저트
9   571725           바디쉐프 본점         R0002          10000     1인분

In [70]:
# data.cd_nm = data.cd_nm.astype('category')

In [71]:
# data[data.duplicated(keep=False)]

In [72]:
# 최소주문금액 1만원 이하 업소 중 1인분 카테고리 켜진업소는 수정x  ->드랍  
# shop_no_to_drop 이라는 업소리스트만든다

shop_no_to_drop = data[data.cd_nm == '1인분']['shop_no']
shop_no_to_drop = shop_no_to_drop.tolist()
shop_no_to_drop[:10]

[522695,
 563770,
 565209,
 567009,
 571725,
 573942,
 573948,
 574777,
 574848,
 574860]

In [73]:
data.reset_index(inplace=True)

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7076 entries, 0 to 7075
Data columns (total 6 columns):
index            7076 non-null int64
shop_no          7076 non-null int64
shop_nm          7076 non-null object
contract_type    7076 non-null object
min_ord_price    7076 non-null int64
cd_nm            7076 non-null object
dtypes: int64(3), object(3)
memory usage: 331.8+ KB

In [75]:
to_iter = len(data)

In [76]:
len(shop_no_to_drop)

2661

In [77]:
# data의 row만큼 loop돌며 shop_no_to_drop에 포함된 row는 드랍한다
# 최소주문금액이 아직 등록되지 않은 업소 역시 드랍한다

for i in range(to_iter):
    if data.loc[i].shop_no in shop_no_to_drop:
        #print(data.loc[i])
        data.drop(index=data.loc[i][0],inplace=True)
        continue
    if data.loc[i].min_ord_price == 0:
        data.drop(index=data.loc[i][0],inplace=True)

In [78]:
data # 처리후의 데이터, shop_no 기준으로 중복처리 필요하다

      index  shop_no      shop_nm contract_type  min_ord_price   cd_nm
40       40   576845    가락시장 용기수산         R0001          10000    배민수산
498     498   632841  세븐블레스 가로수길점         R0001           9000      양식
1691   1691   712173       바이커스버거         R0002          10000      양식
2358   2358   736938  베러댄와플 부천심곡점         R0002          10000  커피·디저트
2987   2987   760996    귀일교자 노량진점         R0002          10000      분식
3698   3698   789872    써브웨이 숭실대점         R0002           8000      양식
3699   3699   789872    써브웨이 숭실대점         R0002           8000  커피·디저트
4073   4073   798745   그옛날1947왕만두         R0002          10000      분식
4074   4074   798745   그옛날1947왕만두         R0002          10000     NEW
4075   4075   798745   그옛날1947왕만두         R0002          10000      한식
6689   6689   837582         왕꼼장어         R0002          10000     NEW
6690   6690   837582         왕꼼장어         R0002          10000      고기
6691   6691   837582         왕꼼장어         R0002          10000      한식
6739   6739   838532       카페 씨이오         R0002          10000     NEW
6740   6740   838532       카페 씨이오         R0002          10000  커피·디저트
6823   6823   840635          다미락         R0002          10000      한식
6824   6824   840635          다미락         R0002          10000    일식·회
6825   6825   840635          다미락         R0002          10000     NEW
6906   6906   843020     라화쿵부 구월점         R0002          10000     NEW
6907   6907   843020     라화쿵부 구월점         R0002          10000     아시안
6908   6908   843020     라화쿵부 구월점         R0002          10000      고기
6935   6935   843224        퓨전테이블         R0002           9000     NEW
6936   6936   843224        퓨전테이블         R0002           9000      양식
7013   7013   846914   봉추찜닭 인천부평점         R0001          10000      고기
7014   7014   846914   봉추찜닭 인천부평점         R0001          10000      한식
7015   7015   846914   봉추찜닭 인천부평점         R0001          10000     NEW

In [79]:
# 일단 파일로 저장해두자
with open("ilinboon_to_on_181127.csv",'w',newline='') as fp:
    wr = csv.writer(fp)
    for i in range(len(data)):
        wr.writerow(data.iloc[i,:])

In [43]:
shop_no_unq = [shop_no for shop_no in set(data.shop_no)] # 유니크한 shop_no 뽑는다
len(shop_no_unq)

17

In [47]:
shop_no_lst_on = list(shop_no_unq)

전처리끝. super와 연동하여 자동화하자

In [2]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import time
from selenium.webdriver.common.keys import Keys

In [3]:
driver_path = 'chromedriver.exe'
driver =webdriver.Chrome(driver_path)

In [49]:
excepted_shop_no_on = [] # 예외처리된 shop_no

for shop_no in shop_no_lst_on:
    url = "https://super.smartbaedal.com/admin/shop/shopinfo.asp?shop={}".format(shop_no)
    
    try:
        driver.get(url)

        driver.find_element_by_css_selector("#basic_mod_btn").click() # 수정버튼
        driver.implicitly_wait(0.1)
        driver.find_element_by_css_selector("#basic_form_div > table > tbody > tr:nth-child(5) > td > span > span > a").click() # 테마관리버튼
        driver.implicitly_wait(0.3)
        
        ########### 주의필요
        driver.find_element_by_css_selector("#theme_seq_1").click() # 1인분 테마 클릭( id없으므로 seq 순서 맞는지 확인필요)
        ###########
        
        # 수정하고 저장
        driver.find_element_by_css_selector("body > div:nth-child(12) > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div > button:nth-child(1) > span").click()
        driver.find_element_by_css_selector('#frm > div.content_button > span.wbtn.blue.large.icon.strong > input[type="button"]').click()
        
        # 확인위한 alert 2회
        driver.switch_to.alert.accept()
        driver.switch_to.alert.accept()

        # NoAlertPresentException 발생시(정상적으로 저장안됨) 처리하게 코드짜면 됨
#     except NoAlertPresentException as e1:
#         print("\n\n NoAlertPresentException")
#         print(shop_no, e1)
#         excepted_shop_no.append(shop_no)
#         input("Enter if you checked out")
#         continue
        
    except Exception as e:
        print("\n\n Exception")
        print(shop_no, e)
        excepted_shop_no_on.append(shop_no)
        input("Enter if you checked out")
        continue

 Exception
632841 Message: no such alert
  (Session info: chrome=70.0.3538.102)
  (Driver info: chromedriver=2.40.565498 (ea082db3280dd6843ebfb08a625e3eb905c4f5ab),platform=Windows NT 10.0.17134 x86_64)

Enter if you checked out

In [51]:
excepted_shop_no_on

In [20]:
# #백업
# for shop_no in shop_no_unq:
#     url = "https://super.smartbaedal.com/admin/shop/shopinfo.asp?shop={}".format(shop_no)
    
#     try:
#         driver.get(url)

#         driver.find_element_by_css_selector("#basic_mod_btn").click()
#         driver.implicitly_wait(0.1)
#         driver.find_element_by_css_selector("#basic_form_div > table > tbody > tr:nth-child(5) > td > span > span > a").click()
#         driver.implicitly_wait(0.3)
# #         driver.find_element_by_css_selector("#theme_seq_1").click()

# #         driver.find_element_by_css_selector("body > div:nth-child(12) > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div > button:nth-child(1) > span").click()
# #         driver.find_element_by_css_selector('#frm > div.content_button > span.wbtn.blue.large.icon.strong > input[type="button"]').click()
        
# #         while driver.switch_to.alert is None:
# #             driver.switch_to.alert.accept()
    
# #     except NoAlertPresentException as e1:
# #         print("\n\n NoAlertPresentException")
# #         print(shop_no, e1)
# #         excepted_shop_no.append(shop_no)
# #         input("Enter if you checked out")
# #         continue
        
#     except Exception as e:
#         print("\n\n Exception")
#         print(shop_no, e)
#         excepted_shop_no.append(shop_no)
#         input("Enter if you checked out")
#         continue
        
#     input("Enter")

id: eypark2

ek13238900

휴대폰번호: 01043137421